
.tooltip {
    background-color: black;
    color: antiquewhite;
    font-size: smaller;
}

.tooltip {
    position: absolute;
    display: none;
}


.with-tooltip:hover+.tooltip {
    position: absolute;
    top: -20px;
    left: 0;

    display: inline-block;
    z-index: 100;
}