<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}
  <link rel="stylesheet" href="../ld-default.css">
  <link rel="stylesheet" href="../ld-about.css">
  <link rel="stylesheet" href="../projects.css">

  <body>

    <main class="ld-page" aria-label="Content">

      <div class="ld-header-me">LAURENT DIRER</div>
      <div class="ld-navbar">
        <a href="/">About</a>
        <a href="/work">Previous projects</a>
        <a href="/blog">Blog</a>
      </div>

      <div style="display: flex">
        <div class="ld-gutter"></div>
        <div class="wrapper">
          {{ content }}
        </div>
        <div class="ld-gutter"></div>
      </div>
    </main>

    <!-- Lame feed button + copyright-->
    <!--{% include footer.html %}-->

  </body>

</html>