<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}
  <link href="https://fonts.googleapis.com/css?family=Raleway&text=LAURENT%20DIRER%20About%20Previous%20Projects%Blog" rel="stylesheet">
  <link rel="stylesheet" href="/ld-default.css">
  <link rel="stylesheet" href="/ld-about.css">
  <link rel="stylesheet" href="/projects.css">

  <body>

    <main class="ld-page" aria-label="Content">

      <!--Note I'm using google fonts beta feature to load only the letters I need, so updating a header means I should update the google fonts query param `text` -->
      <div class="ld-header-me">LAURENT DIRER</div>
      <div class="ld-navbar">
        <a href="/">About</a>
        <a href="/work">Previous projects</a>
        <a href="/blog">Blog</a>
      </div>

      <div style="display: flex">
        <div class="ld-gutter"></div>
        <div class="ld-main">
          {{ content }}
        </div>
        <div class="ld-gutter"></div>
      </div>
    </main>

    <!-- Lame feed button + copyright-->
    <!--{% include footer.html %}-->
    {% include scripts.html %}

    <footer style="position: absolute; bottom: 0; width: 100%">
        <div class="rc-scout" style="text-align: center"></div>
    </footer>

    <script async defer src="https://www.recurse-scout.com/loader.js?t=4052cbab5183187a9523bfc5ed4b1ddb"></script>
  </body>

</html>